* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.opacity05 {
  opacity: .5;
}

.invisible {
  display: none;
}

body #liveview {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  border-bottom: 24px solid #0066cc;

  justify-content: center;
}

video {
  border-radius: 0 0 3.2rem 3.2rem;
}

#liveview {
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

#enablewebcam {
  border: none;
  margin: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 1.2rem;
  font-size: 16px;
  font-weight: 800;
  color: #3d3d3d;
  cursor: pointer;
}

#liveviewdescription {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#liveviewdescription p {
  font-size: 24px;
  font-weight: 800;
  color: #3d3d3d;
}